.Board__wrapper{
    max-width:1040px;
    max-height:960px;
    background-color:#1457db;
    margin:0 auto;
    display:grid;
    grid-template-columns: repeat(7, 1fr);
    /* grid-template-rows: repeat(6, 1fr); */
    grid-gap: 21px;
    padding:1em;
    border-radius:10% 10% 0 0 ;
    justify-items: center;

    -webkit-box-shadow: 4px 7px 12px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 7px 12px 0px rgba(0,0,0,0.75);
box-shadow: 4px 7px 12px 0px rgba(0,0,0,0.75);
}

.Board--row{
    margin:0 auto;
    padding:1em;
}

.Victory_wrapper{
    letter-spacing: 1em;
    font-family:sans-serif;
    position:relative;
    top:25%;
}


@media(max-width:360px){
    .Board__wrapper{
        grid-gap: 18px;
    }

}